

# os rerated
**.html linguist-generated=true
**.frhtml linguist-generated=true
**.ehtml linguist-generated=true
**.nb linguist-generated=true
**.js linguist-generated=true
**.svg linguist-generated=true
**.yaml linguist-generated=true
**.css linguist-generated=true
**.sass linguist-generated=true