/* Common Style */
@import url(./../common/main.css);

/* Individuals Style */
@import url(./common.css);

/* Theme of the 2023 aut */
@import url(./theme.2023aut.css);

/* Tag Style */
@import url(./../common/tag.css);

body {
  font-family: "Montserrat", "TPGothic-GT01", sans-serif;
}
.bodyContent {
  background-image: var(--evening-grad);

  overflow: hidden;
}
.contentContainer .content {
  border: 0.1em solid var(--seiryu-dark);
}
.heading {
  color: var(--sea-dark);
  text-decoration: underline dotted var(--seiryu-dark) 0.25em;
}
.subHeading {
  color: var(--sea-dark);
  text-decoration: underline dotted var(--seiryu-dark) 0.25em;
}
.headerImg {
  background: var(--seiryu-grad);
  padding-bottom: calc(10 * var(--bases));
  z-index: 40;
}
.headerImg img {
  transform: translateY(calc(-10 * var(--bases)));
  clip-path: inset(calc(10 * var(--bases)) 0 0 0);

  z-index: 40;
}
.nowLoading::before {
  color: var(--sea-dark);
}
.nowLoading::after {
  color: var(--sea-dark);
}
.headNavigateWrap {
  background-color: var(--seiryu-dark);
}
.headNavigate {
  color: var(--seiryu);
  border-bottom: 0.17em solid var(--seiryu);
  z-index: 60;
}
.headNavigate a {
  color: var(--seiryu-light);
}
/*
.mainArticle {
  border: 1px solid var(--seiryu-dark);
}
*/

.zenFont {
  font-family: "Zen Kurenaido";
}

.abstract .scheduleAbst {
  border: 1px solid var(--seiryu-dark);
}
/*
.abstract .scheduleAbst ul {
  border: 1px solid var(--seiryu-dark);
}
*/

.schedule table.timetable {
  border-color: var(--sea-dark);
}
.schedule table.timetable tr {
  background-color: var(--seiryu-light);
  color: var(--sea);
}
.schedule table.timetable tr.awards {
  background-color: var(--lavender);
  color: var(--gold);
  font-weight: bold;
}
.schedule table.timetable thead tr {
  background-color: var(--sea-light);
  color: var(--sea-dark);
}
.schedule table.timetable tbody tr.now {
  background-color: var(--sea);
  color: var(--seiryu-dark);
}
.resources .present details .item {
  border-top: 0.2em solid var(--sea-dark);
}
a.ref {
  background-color: var(--sea-dark);
  color: var(--seiryu-light);
}
.resources .present details summary {
  color: var(--sea-dark);
  text-decoration: underline dotted var(--seiryu-dark) 0.25em;
}
.resources .present details {
  background: var(--seiryu-light);
  border: 1px solid var(--seiryu-dark);
}

.resources .present details summary::after {
  color: var(--sea);
}

.clouds {
  position: absolute;
  opacity: 0.5;
}
.cloud_1 {
  transform: translate(3vw, -26vw);
  width: 14vw;
}
.cloud_2 {
  transform: translate(81vw, -17vw);
  width: 14vw;
}
.cloud_3 {
  transform: translate(5vw, 46vw);
  width: 10vw;
}
.cloud_4 {
  transform: translate(35vw, 15vw);
  width: 20vw;
}
.cloud_5 {
  transform: translate(27vw, 23vw);
  width: 12vw;
}
.cloud_6 {
  transform: translate(-36vw, -3vw);
  width: 16vw;
}
.cloud_7 {
  transform: translate(18vw, -14vw);
  width: 26vw;
}

.sponsor .name {
  color: var(--sea-dark);
}

.sponsor.flowItem {
  width: 36%;
}
.sponsor.Elysion .name {
  color: var(--elysion-blue);
}
.sponsor.KIITA .name {
  color: var(--kiita-grape);
}
.sponsor.Ziphil .name {
  color: var(--ziphil-black);
}
.sponsor.Yuri .name {
  color: var(--yuri-blue);
}
.sponsor .desc {
  color: var(--sea-dark);
}
.sponsor a {
  color: var(--sea-dark);
}
.sponsor.Elysion a {
  color: var(--elysion-blue);
}
.sponsor.KIITA a {
  color: var(--kiita-grape);
}
.sponsor.Ziphil a {
  color: var(--ziphil-black);
}
.sponsor.Yuri a {
  color: var(--yuri-blue);
}
a.regisFormLink {
  color: var(--sea-dark);
}
@media screen and (max-width: 599px) {
  a.regisFormLink {
    color: var(--sea-dark);
  }
}
