/* Individuals Style */

body {
  opacity: 1;
  width: var(--max-width);
  margin: 0;
  padding: 0;
  z-index: 0;
  position: relative;
  overflow-x: hidden;
}

.abstract .title {
  font-size: 2em;
}
.abstract .scheduleAbst {
  --number: 55;
  --guess01: calc((var(--number) + (var(--number) / var(--number))) / 2);
  --guess02: calc((var(--guess01) + (var(--number) / var(--guess01))) / 2);
  --guess03: calc((var(--guess02) + (var(--number) / var(--guess02))) / 2);
  --guess04: calc((var(--guess03) + (var(--number) / var(--guess03))) / 2);
  --guess05: calc((var(--guess04) + (var(--number) / var(--guess04))) / 2);
  --guess06: calc((var(--guess05) + (var(--number) / var(--guess05))) / 2);
  --guess07: calc((var(--guess06) + (var(--number) / var(--guess06))) / 2);
  --guess08: calc((var(--guess07) + (var(--number) / var(--guess07))) / 2);
  --guess09: calc((var(--guess08) + (var(--number) / var(--guess08))) / 2);
  --guess10: calc((var(--guess09) + (var(--number) / var(--guess09))) / 2);
  text-align: left;
  font-size: 1.25em;
  width: calc(85% - var(--guess10) * 1%);
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 1em;
}
.abstract .scheduleAbst ul {
  margin: 0;
}
.abstract .programme {
  --number: 55;
  --guess01: calc((var(--number) + (var(--number) / var(--number))) / 2);
  --guess02: calc((var(--guess01) + (var(--number) / var(--guess01))) / 2);
  --guess03: calc((var(--guess02) + (var(--number) / var(--guess02))) / 2);
  --guess04: calc((var(--guess03) + (var(--number) / var(--guess03))) / 2);
  --guess05: calc((var(--guess04) + (var(--number) / var(--guess04))) / 2);
  --guess06: calc((var(--guess05) + (var(--number) / var(--guess05))) / 2);
  --guess07: calc((var(--guess06) + (var(--number) / var(--guess06))) / 2);
  --guess08: calc((var(--guess07) + (var(--number) / var(--guess07))) / 2);
  --guess09: calc((var(--guess08) + (var(--number) / var(--guess08))) / 2);
  --guess10: calc((var(--guess09) + (var(--number) / var(--guess09))) / 2);
  text-align: left;
  font-size: 1.25em;
  width: calc(85% - var(--guess10) * 1%);
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 1em;
}
.abstract .programme{
  font-size: 1.1em;
}
.abstract .programme .subHeading{
  font-size: 1.3em;
  text-align: center;
}
.abstract .programme .abst{
  margin: 1em auto;
}
.abstract .programme .abst ul {
  margin: 0 2em;
}
.abstract .programme .desc{
  margin: 0 1em;
}
.abstract .programme dl{
  margin: 0;
}
.abstract .programme dt {
  font-size: 1.1em;
  font-weight: bold;
  padding: 0;
  margin-left: -1em;
  line-height: 1.3em;
  float: left;
}
.abstract .programme dd {
  text-indent: 1em;
  margin-left: 0.5em;
}
.join .regisForms {
  --number: 55;
  --guess01: calc((var(--number) + (var(--number) / var(--number))) / 2);
  --guess02: calc((var(--guess01) + (var(--number) / var(--guess01))) / 2);
  --guess03: calc((var(--guess02) + (var(--number) / var(--guess02))) / 2);
  --guess04: calc((var(--guess03) + (var(--number) / var(--guess03))) / 2);
  --guess05: calc((var(--guess04) + (var(--number) / var(--guess04))) / 2);
  --guess06: calc((var(--guess05) + (var(--number) / var(--guess05))) / 2);
  --guess07: calc((var(--guess06) + (var(--number) / var(--guess06))) / 2);
  --guess08: calc((var(--guess07) + (var(--number) / var(--guess07))) / 2);
  --guess09: calc((var(--guess08) + (var(--number) / var(--guess08))) / 2);
  --guess10: calc((var(--guess09) + (var(--number) / var(--guess09))) / 2);
  text-align: left;
  font-size: 1.25em;
  width: calc(85% - var(--guess10) * 1%);
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 1em;
}
.join .regisForms ul {
  margin: 0;
}
.broadcast .embedYouTube {
  margin: auto;
  margin-top: 0.5em;
  width: 75%;
  aspect-ratio: 560 / 315;
  opacity: 1;
  z-index: 10;
  position: relative;
  transform: rotate(360deg);
}
.broadcast .embedYouTube.ComingSoon {
  border: 0.05em solid black;
  background-color: var(--yet-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
/*
.broadcast .embedYouTube.ComingSoon > :first-child {
  padding-top: calc(30 * var(--bases));
}*/
.broadcast .embedYouTube iframe {
  margin: auto;
  margin-top: 0.5em;
  width: 100%;
  height: 100%;
  z-index: 15;
  background-color: black;
}
.schedule div.timetable {
  z-index: 8;
  width: 100%;
}
.schedule {
  padding: 0.7em !important;
}
.schedule table.timetable {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
  opacity: 1;
  z-index: 10;
}
.schedule table.timetable tr {
  height: 2em;
}
.schedule table.timetable tr.rest {
  background-color: var(--rest-bg-color);
  color: var(--rest-fg-color);
}
.schedule table.timetable thead tr {
  height: 1.5em;
}
.schedule table.timetable tbody tr.now {
  font-weight: bold;
  font-size: 1.1em;
}
.schedule table.timetable td:nth-child(1) {
  width: 1em;
}
.schedule table.timetable td:nth-child(2) {
  width: 3.5em;
}
.schedule table.timetable td:nth-child(3) {
  width: 4em;
  overflow-x: hidden;
  overflow-y: auto;
}
.schedule table.timetable td:nth-child(4) {
  min-width: 6.5em;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
}
.schedule table.timetable td:nth-child(5) {
  text-align: left;
  overflow-x: hidden;
  overflow-y: auto;
}
.schedule table.timetable td:nth-child(6) {
  width: 2.5em;
}
.schedule table.timetable tbody td:nth-child(7) {
  width: 1.5em;
  writing-mode: vertical-lr;
}
.schedule table.timetable.timeFree tr.yet td:nth-child(2),
.schedule table.timetable tr.yet td:nth-child(3),
.schedule table.timetable tr.yet td:nth-child(4),
.schedule table.timetable tr.yet td:nth-child(5),
.schedule table.timetable tr.yet td:nth-child(6),
.schedule table.timetable tr.yet td:nth-child(7) {
  background-color: var(--yet-bg-color);
  color: var(--yet-fg-color);
  content: "未定枠";
}
.schedule table.timetable td {
  padding: 0.5em;
}
.orgn {
  margin-top: 0.5em;
  font-weight: bold;
}
.resources .present {
  margin-top: 0.85em;
}
.resources .present details .item.psl iframe {
  width: 95%;
  aspect-ratio: 960 / 569;
}
.resources .present details .item.pslx iframe {
  width: 100%;
  aspect-ratio: 960 / 569;
}
.resources .present details .item.gsl iframe {
  width: 85%;
  aspect-ratio: 960 / 569;
}
.resources .present.hid details .item {
  display: none;
}
.resources .present details .item p.desc {
  text-align: left;
}
a.ref {
  text-decoration: none;
  padding: 0.2em 0.5em;
  border-radius: 0.8em;
}
.resources .present details summary {
  text-align: left;
  border-radius: 1em;
  outline: 0;
  cursor: pointer;
  display: block;
  list-style: none;
  font-size: 1.45em;
  font-weight: bold;
  padding: 0;
  line-height: 2.5em;
  padding-left: 2.2em;
}
.resources .present details summary:hover {
  background: #eee;
  transition: all linear 0.2s;
}
.resources .present details summary::-webkit-details-marker {
  display: none;
}
.resources .present details summary div {
  font-size: 0.8em;
  line-height: 0.8em;
  margin-top: 0.1em;
  margin-bottom: 1em;
  margin-right: 2em;
  text-align: right;
  padding-top: 0em;
}
.resources .present details {
  border-radius: 1em;
  margin-bottom: 0.2em;
  font-size: 1em;
  display: block;
  width: 75%;
  margin: 0 auto;
}
.resources .present details summary::before {
  content: none !important;
}
.resources .present details summary::after {
  position: relative;
  top: -4em;
  content: "+";
  font-weight: bolder;
  float: right;
  width: 3em;
  text-align: center;
}
.resources .present details[open] summary::after {
  content: "-";
  margin-top: -0.1em;
}

.resources .present details[open] div {
  animation: accordion 0.4s linear;
  overflow: hidden;
  /**border-bottom: 2px solid #eee;*/
  font-size: 1rem;
  padding: 1rem;
}

@keyframes accordion {
  0% {
    opacity: 0;
    height: 0;
  }
  70% {
    opacity: 0;
    height: 200px;
  }
  100% {
    opacity: 1;
  }
}
.sponsor {
  width: 70%;
  margin: 2.25em auto;
}
.sponsor .name {
  font-size: 300%;
  font-weight: bold;
  line-height: 0.8em;
}
.sponsor.flowBlock {
  display: flex;
  flex-wrap: wrap;
}
.sponsor .desc {
  font-size: 1.2em;
  line-height: 1.2em;
}
.sponsor a {
  text-decoration: none;
  border-bottom: none;
}

.sponsor img {
  height: 1em;
  display: inline;
}
.sub {
  font-size: 0.5em;
}
@media screen and (max-width: 599px) {
  a.regisFormLink {
    line-height: 2.2em;
  }
  a.regisFormLink::before {
    content: "・　";
  }
  a.regisFormLink:not(:first-child) {
    margin-top: 0.5em;
  }
}

@media screen and (min-width: 660px) {
  .delim > * {
    display: none;
  }
  .delim::before {
    content: "　 ・ 　";
  }
}
