/* Theme of the 2021 aut */
:root {
  --cherry: #fcd4d7;
  --cherry-dark: #f2a1ad;
  --cherry-light: #fcf2f3;
  --cherry-middle: #fcd4d7;
  --fallen-leaves: #d4bf5d;
  --fallen-leaves-dark: #ccb340;
  --fallen-leaves-light: #fffbdb;
  --fallen-leaves-middle: #e8ddaa;
  --fallen-leaves-grad: linear-gradient(
    180deg,
    rgba(204, 179, 64, 1) 0%,
    rgba(207, 183, 73, 1) 20%,
    rgba(215, 195, 99, 1) 44%,
    rgba(234, 221, 155, 1) 67%,
    rgba(239, 228, 169, 1) 82%,
    rgba(255, 251, 219, 1) 100%
  );
  --cherry-grad: linear-gradient(
    180deg,
    rgba(242, 161, 173, 1) 0%,
    rgba(245, 178, 187, 1) 41%,
    rgba(249, 195, 201, 1) 59%,
    rgba(252, 212, 215, 1) 69%,
    rgba(252, 242, 243, 1) 84%,
    rgba(255, 255, 255, 0) 100%
  );
  --orange: #f39800;
  --fertile-soil: #602600;
  --harizuri: #79520b;
  --wakakusa: #abc900;
  --yet-bg-color: #d8d4b7;
  --yet-fg-color: darkgray;
  --rest-bg-color: #666557;
  --rest-fg-color: white;
}
