/* Theme of the 2021 aut */
:root {
  --fallen-leaf: #facd89;
  --milk-fallen-leaf: #fcf2e3;
  --milk-fallen-leaf-light: #fcf8f2;
  --potato: #91002c;
  --potato-light: #c06080;
  --yet-bg-color: lightgray;
  --yet-fg-color: darkgray;
  --rest-bg-color: gray;
  --rest-fg-color: white;
}
