@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --fallen-leaf: #facd89;
  --light-gray: #fff0cf;
  --milk-fallen-leaf: #fcf2e3;
  --milk-fallen-leaf-light: #fcf8f2;
  --max-width: 98.8vw;
  --potato: #91002c;
  --potato-light: #c06080;
  --scj-red: #b50033;
  --kiita-grape: #640125;
  --ziphil-black: #090909;
  --yuri-skyblue: #49d7d9;
}
